@import "tailwindcss";

@theme {
  --font-display: 'Outfit', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

/* Base resets & custom scrollbars */
html, body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: var(--color-slate-200);
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: var(--color-slate-350);
}
